doctype html
html(lang="en")
  head
    title= pageTitle

  body
    h1 Test

    button#btn Ask for another module

    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/app/app.js", type="text/javascript")