doctype html
html(lang="en")
  head
    title= pageTitle

  body
    h1 Test

    button#call-module-btn Load module
    div#module-placeholder

    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/app/socketStatic-client.js", type="text/javascript")
    script(src="/app/app.js", type="text/javascript")